@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-700 text-gray-100;

  -webkit-font-smoothing: antialiased;
}

/* .w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 18px !important;
} */